.card {
    border: solid black 5px;
    width: 380px;
    height: 520px;
    margin: 2rem auto;
    background: transparent;
    cursor: pointer;
    transition: all 0.6s ease;
    position: relative;
}

/* When clicked → grows and allows scrolling */
.open {
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
}

/* The slider */
.slider {
    /* background-color: blue; */
    display: flex;
    justify-content: start;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}


/* Only when open → enable horizontal scrolling */
.open .slider {
    position: absolute;
    width: 100vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

/* Each screen */
.screen {
    border: solid red 5px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.open .screen {
    width: 700px;
}

.screen img {
    max-width: 100%;
    max-height: 65%;
    border-radius: 16px;
}

.title {
    text-align: center;
    margin-top: 1.5rem;
}

.text {
    text-align: center;
    color: white;
    background: #000;
    padding: 3rem;
    border-radius: 20px;
    max-width: 800px;
}