.main {
    padding-top: 1rem;
    color: var(--text-primary);
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title > h2 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .main {
        padding-top: 6rem;
    }
    .title > h2 {
        padding-bottom: 1rem;
    }
    .main {
        margin-top: 0;
    }
}
